:root{

    /* Paleta CELESIA */

    --dark-blue:#25234C;
    --blue:#5483B6;
    --light-blue:#70ABE0;

    --purple:#C516C4;
    --pink:#EA659B;

    --gray:#3D3D3D;

    /* Interface */

    --background:#101010;

    --divider:#202020;

    --text:white;

    --transition:.2s;

    --radius:18px;

}